Web_Services/hidden.py
Web_Services/hidden-backup.py
Web_Services/__pycache__/*
Databases/hidden.py
Databases/hidden-backup.py
Databases/__pycache__/*
Databases/*.sqlite
Databases/*.db
Databases/roster/*.sqlite
Networked_programs/__pycache__/*
Python_Objects/__pycache__/*
